@{
    ViewData["Title"] = "Negocio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-pills flex-column flex-md-row mb-3">
            <li class="nav-item">
                <a class="nav-link active" href="javascript:void(0);"><i class="bx bxs-business me-1"></i> Negocio</a>
            </li>
        </ul>
        <div class="card mb-4">
            <h5 class="card-header">Agregar Negocio</h5>
            <!-- Account -->
            <div class="card-body"></div>
            <hr class="my-0" />
            <div class="card-body">
                <form id="formAccountSettings"
                      method="POST"
                      onsubmit="return false">
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label for="numeroDocumento" class="form-label">Numero Documento</label>
                            <input class="form-control"
                                   type="text"
                                   id="numeroDocumento"
                                   name="numeroDocumento"
                                   value="00056201200"
                                   autofocus />
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="razonSocial" class="form-label">Razon Social</label>
                            <input class="form-control"
                                   type="text"
                                   name="razonSocial"
                                   id="razonSocial"
                                   value="..." />
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="email" class="form-label">E-mail</label>
                            <input class="form-control"
                                   type="text"
                                   id="email"
                                   name="email"
                                   value="john.doe@example.com"
                                   placeholder="john.doe@example.com" />
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="direccion" class="form-label">Direccion</label>
                            <input type="text"
                                   class="form-control"
                                   id="direccion"
                                   name="direccion"
                                   placeholder="Direccion" />
                        </div>
                        <div class="mb-3 col-md-6">
                            <label class="form-label" for="telefono">Telefono</label>
                            <div class="input-group input-group-merge">
                                <span class="input-group-text">US (+1)</span>
                                <input type="text"
                                       id="telefono"
                                       name="telefono"
                                       class="form-control"
                                       placeholder="202 555 0111" />
                            </div>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="impuesto" class="form-label">% Impuesto</label>
                            <input type="text"
                                   class="form-control"
                                   id="impuesto"
                                   name="impuesto"
                                   value="2%" />
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="currency" class="form-label">Moneda</label>
                            <select id="currency" class="select2 form-select">
                                <option value="">Seleccionar Moneda</option>
                                <option value="usd">USD</option>
                                <option value="euro">Euro</option>
                                <option value="pound">Pound</option>
                                <option value="bitcoin">Bitcoin</option>
                            </select>
                        </div>
                        <div class="mb-3 col-md-6 d-flex align-items-start align-items-sm-center gap-4">
                            <img src="../assets/img/avatars/1.png"
                                 alt="user-avatar"
                                 class="d-block rounded"
                                 height="100"
                                 width="100"
                                 id="uploadedAvatar" />
                            <div class="button-wrapper">
                                <label for="upload"
                                       class="btn btn-primary me-2 mb-4"
                                       tabindex="0">
                                    <span class="d-none d-sm-block">Cargar Logo</span>
                                    <i class="bx bx-upload d-block d-sm-none"></i>
                                    <input type="file"
                                           id="upload"
                                           class="account-file-input"
                                           hidden
                                           accept="image/png, image/jpeg" />
                                </label>
                                <button type="button"
                                        class="btn btn-outline-secondary account-image-reset mb-4">
                                    <i class="bx bx-reset d-block d-sm-none"></i>
                                    <span class="d-none d-sm-block">Reset</span>
                                </button>

                                <p class="text-muted mb-0">
                                    Allowed JPG, GIF or PNG. Max size of 800K
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="mt-2">
                        <button type="submit" class="btn btn-primary me-2">
                            Guardar Cambios
                        </button>
                        <button type="reset"
                                class="btn btn-outline-secondary">
                            Cancelar
                        </button>
                    </div>
                </form>
            </div>
            <!-- /Account -->
        </div>
    </div>
</div>

@section Scripts {
    <!-- Page JS -->
    <script src="~/assets/js/pages-account-settings-account.js"></script>
}
