
@{
    ViewData["Title"] = "HistorialVenta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row py-3">
    <div class="col-md-3">
        <div class="input-group input-group-merge">
            <span class="input-group-text" id="basic-addon-search31">
                <i class="bx bxs-filter-alt"></i>
            </span>
            <select class="form-select"
                    id="exampleFormControlSelect1"
                    aria-label="Default select example">
                <option selected>Filtrar por</option>
                <option value="fechas">Fechas</option>
                <option value="numeroVenta">Numero Venta</option>
            </select>
        </div>
    </div>
    <div class="col-md-3">
        <div class="input-group input-group-merge">
            <span class="input-group-text" id="basic-addon-search31">
                <i class="bx bx-calendar"></i>
            </span>
            <input type="text"
                   class="form-control"
                   placeholder="Fecha Inicio..."
                   aria-label="Fecha Inicio..."
                   aria-describedby="basic-addon-search31" />
        </div>
    </div>
    <div class="col-md-3">
        <div class="input-group input-group-merge">
            <span class="input-group-text" id="basic-addon-search31">
                <i class="bx bx-calendar"></i>
            </span>
            <input type="text"
                   class="form-control"
                   placeholder="Fecha Fin..."
                   aria-label="Fecha Fin..."
                   aria-describedby="basic-addon-search31" />
        </div>
    </div>
    <div class="col-md-3">
        <div class="input-group input-group-merge">
            <span class="input-group-text" id="basic-addon-search31">
                <i class="bx bx-book-content"></i>
            </span>
            <input type="text"
                   class="form-control"
                   placeholder="Numero Venta..."
                   aria-label="Numero Venta..."
                   aria-describedby="basic-addon-search31" />
        </div>
    </div>
</div>
<div class="py-3 mb-4">
    <button type="button" class="btn btn-primary">
        <span class="tf-icons bx bx-search"></span>&nbsp; Buscar
    </button>
</div>
<!-- Basic Bootstrap Table -->
<div class="card">
    <h5 class="card-header">Lista de Usuarios</h5>
    <div class="table-responsive text-nowrap">
        <table class="table">
            <thead>
                <tr>
                    <th>Fecha Registro</th>
                    <th>Numero Venta</th>
                    <th>Documento</th>
                    <th>Nombre Cliente</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                <tr>
                    <td>
                        <i class="fab fa-angular fa-lg text-danger me-3"></i>
                        <strong>01/12/2022</strong>
                    </td>
                    <td>0001</td>
                    <td>10000</td>
                    <td>Juan</td>
                    <td>2000</td>
                    <td>
                        <button type="button" class="btn btn-outline-primary">
                            <span class="tf-icons bx bxs-show"></span>&nbsp; Ver
                            Detalles
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="fab fa-angular fa-lg text-danger me-3"></i>
                        <strong>01/12/2022</strong>
                    </td>
                    <td>0001</td>
                    <td>10000</td>
                    <td>Juan</td>
                    <td>2000</td>
                    <td>
                        <button type="button" class="btn btn-outline-primary">
                            <span class="tf-icons bx bxs-show"></span>&nbsp; Ver
                            Detalles
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>